@(userMap:models.UserMap)(implicit flash:Flash, session:Session)


<!DOCTYPE html>

<html>
    <head>
        <title>@Messages("application.name")</title>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/report.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.11.1.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.js")" type="text/javascript"></script>
    </head>
    <body>
    
    	<div class="report">
	    	<div class="reportTitle row">
	    		<div class="reportTitleImg col-md-1">
	    			<img alt="uecelogo.png" src="http://placehold.it/60x60" class="img-rounded">
	    		</div>
	    		<div class="reportTitleText col-md-11">
	    			<div class="row">
	    				<div class="col-md-12">
	    					<strong><span class="reportTitleTextSpan">@Messages("report.title.one")</span></strong>
	    				</div>
	    			</div>
		    		<div class="row">
	    				<div class="col-md-12">
	    					<span>@Messages("report.title.two")</span>
	    				</div>
	    			</div>
	    			<div class="row">
	    				<div class="col-md-12">
	    					<span>@Messages("report.title.three")</span>
	    				</div>
	    			</div>
	    		</div>
	    	</div>
	    	
    		<div class="reportSubTitle">
	    		<strong><span>@Messages("report.sub.title")</span></strong>
	    	</div>
	    	
	    	<div class="reportStudentDetails row">
	    		<div class="col-md-12">
	    			<div class="row">
			    		<div class="reportStudentDetailsText col-md-6">
			    			<strong><span>@Messages("report.center")</span></strong>
			    			
			    		</div>
			    		<div class="reportStudentDetailsText col-md-6">
			    			<strong><span>@Messages("report.course")</span></strong>
			    			@Messages("computer.science")
			    		</div>
		    		</div>
		    		
		    		<div class="row">
			    		<div class="reportStudentDetailsText col-md-6 row-height-2">
			    			<strong><span>@Messages("report.student.name")</span></strong>
			    			@userMap.user.name
			    		</div>
			    		<div class="reportStudentDetailsText col-md-3 row-height-2">
			    			<strong><span>@Messages("report.enrollment")</span></strong>
			    			@userMap.user.enrollment
			    		</div>
			    		<div class="reportStudentDetailsText col-md-3">
			    			<div class="row">
			    				<div class="col-md-3 noP">
			    					<strong><span>@Messages("report.start")</span></strong>
			    				</div>
			    				<div class="col-md-3 noP">
			    					<strong><span>@Messages("report.start.period")</span></strong>
			    					
			    				</div>
			    			</div>
			    			<div class="row">
			    				<div class="col-md-3 col-md-offset-3">
			    					<strong><span>@Messages("report.start.way")</span></strong>
			    				</div>
			    			</div>
			    		</div>
		    		</div>
		    	</div>
	    	</div>
	    	
	    	<div class="reportRequestList row">
	    		<div class="col-md-12 noP">
	    			<div class="row reportRequestListHeader">
	    				<div class="col-md-1 reportRequestListHeaderItem row-height-3">
	    					@Messages("report.kind.activity")
	    				</div>
	    				<div class="col-md-1 reportRequestListHeaderItem row-height-3">
	    					@Messages("report.doc.order")
	    				</div>
	    				<div class="col-md-2 reportRequestListHeaderItem row-height-3">
	    					@Messages("report.event.name")
	    				</div>
	    				<div class="col-md-3 reportRequestListHeaderItem row-height-3">
	    					@Messages("report.activity.description")
	    				</div>
	    				<div class="col-md-1 reportRequestListHeaderItem row-height-3">
	    					@Messages("report.participation.kind")
	    				</div>
	    				<div class="col-md-1 reportRequestListHeaderItem row-height-3">
	    					@Messages("report.institution")
	    				</div>
	    				<div class="col-md-1 reportRequestListHeaderItem row-height-3">
	    					@Messages("report.period")
	    				</div>
	    				<div class="col-md-1 reportRequestListHeaderItem row-height-3">
	    					@Messages("report.workload")
	    				</div>
	    				<div class="col-md-1 reportRequestListHeaderItem row-height-3">
	    					@Messages("report.valid.workload")
	    				</div>
	    			</div>
	    			
	    					@for((kind,requests) <- userMap.requests.groupBy(_.activity.kind)){
		    							@for((req,index) <- requests.zipWithIndex){
		    								<div class="row reportRequestListHeader">  		    								
		    									<div class="col-md-1 grayBackground @if(requests.size/2 != index){row-height-1}">
		    										@if(requests.size/2 == index){
		    											<strong>@Messages("hours.kind."+kind)</strong>	
		    										}
				    							</div>
			  									<div class="col-md-1 reportRequestListHeaderItem">
			  										@(index + "º")
	  		  									</div>
	  		  									<div class="col-md-2 reportRequestListHeaderItem">	
	  		  										@req.event  		  									
	  		  									</div>
	  		  									<div class="col-md-3 reportRequestListHeaderItem">
	  		  										@req.description  		  									
	  		  									</div>
	  		  									<div class="col-md-1 reportRequestListHeaderItem">
		    										@req.participation
		    									</div>
		    									<div class="col-md-1 reportRequestListHeaderItem">
		    										@req.institution
		    									</div>
		    									<div class="col-md-1 reportRequestListHeaderItem">
		    										@req.period
		    									</div>
		    									<div class="col-md-1 reportRequestListHeaderItem">
		    										@req.workload
		    									</div>
		    									<div class="col-md-1 reportRequestListHeaderItem">
		    										@req.validWorkload
		    									</div>
		    								</div>	 		    								
	   									}
	   									<div class="col-md-9 grayBackground row-height-1"></div>
	   									<div class="col-md-2 grayBackground row-height-1">
	   										<strong>@Messages("hours.kind."+kind)</strong>
	   									</div>
	   									<div class="col-md-1 grayBackground row-height-1">
	   										<span class="pull-right">@requests.map(_.validWorkload).fold(0L)((acc,i) => acc+i)</span>
	   									</div>
	   									
   							
   						}
	    		</div>
	    	</div>
	    	
	    	
    	</div>
    </body>
</html>